body {
    border-radius: 100px;
    border: 1px solid;
    /* height: {{ window.screen.availHeight }}px; */
}
h1 {
    text-align: center;
    font-family: Cambria;
}
h2 {
    padding-left: 1%;
}
div#input > *, #isUseAlertShow, #outendwm {
    margin-left: 2%;
}
button {
    background-color: #3399ff;
    border-color: #3399ff;
    border-radius: 100px;
    color: #ffffff;
}
button:hover {
    background-color: #ffffff;
    color: #000000;
}
div#out {
    margin-bottom: 50px;
}