.items {
    // in <Stack sx /> flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    text-align: center;
}

.singleGridIcon {
    
}

.singleListIcon {
    position: absolute;
    left: 30;
    // 上下居中
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
