.items {
    // in <Stack sx /> flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    text-align: center;
}

.singleList {
    text-align: left;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.singleGridIcon {
    
}

.singleListIcon {
}
