.top {
    gap: 20px;
    display: flex;

    align: {
        items: center;
    }
}

.sec {
    margin: {
        top: 10px;
    }
}

.links {
    list: {
        style-type: none;
    }

    display: flex;
    justify-content: space-between;
    padding: 0;
}

.linkColor {
    color: #666;
}

.social {
    display: flex;
    justify-content: flex-end;
    @extend .linkColor;
}

.logo {
    text: {
        decoration: none;
    }
}
.link {
    @extend .logo;
    @extend .linkColor;
}

.copyright {
    text-align: left;
    color: #666;

    margin: {
        right: auto;
        top: -1px;
    }
}

.flex {
    display: flex;
}

.cout {
    margin: 24px;
    padding: {
        top: 36px;
        bottom: 48px;
        left: 24px;
        right: 24px;
    }
}