.items * {
    text-decoration: none;
}
.items {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    text-align: center;
}