.outer {
    border: {
        color: black;
        width: 1px;
        style: soild;
    }

    z-index: 38601;
    position: fixed;
    background-color: white; // Will rewrite
    overflow: auto;

    max: {
        width: 50vw;
        height: 50vh;
    }
}

.top {
    z-index: 38602;
    background-color: white; // Will rewrite
    display: flex;
    position: sticky;
    top: 0px;

    justify: {
        content: center;
    }

    align: {
        items: center;
    }
}

.title {
    cursor: move;
    flex: 1;
    text-align: center;
}